@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: lightgray;
}


.logo
{
        max-width: 100%;
        height: auto;
}

table a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    display: block;
    font-size: 1rem;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    position: relative;
    display: block;
    font-size: 1rem;
}


li {
    list-style: none;
}

.conteudo 
{
    margin-top: 5rem;
    padding-top: 2rem;
}